.header {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.267);
    justify-content: space-between;
    padding: 10px 30px;
    border: 3px solid white;
    height: 100px;
}
.header-navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
}
.header-menu-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.image-logo {
    width: 100px;
    height: 100px;
    border-radius: 30%;
}
.header-menu-item {
    cursor: pointer;
    transition: 0,5s;
    border-bottom: 2px solid rgba(17, 7, 17, 0);
    margin-bottom: -5px;
    margin-top:5px;
    margin-left: 200px ;
}
.header-menu-item:hover {
    border-bottom: 2px solid white;
}