.body {
    background-image: url(./images/1675468750_foni-club-p-fon-krasivii-i-neobichnii-dlya-prezentatsi-23.jpg);

}
h1,
h2,
h3 {
    font-weight: 600;
    font-style:normal ;
    line-height: normal;
}
h2 {
    color: white;
    font-size: 30px;
}
