
.block {
width:100%;
height:400px ;
background-color: rgb(134, 231, 231);
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: start;
gap: 50px;
flex-wrap: wrap;
}
.block:hover {
  background-color: cadetblue;
}
.block:active {
  border: 2px solid rgb(63, 0, 66) ;
}
.block a {
 color: aliceblue; 
 text-decoration: none;
 font-size:20px ;
}
.block a:hover {
text-decoration: underline;
} 

