.range {
    cursor: pointer;
    appearance: none;
    background: none;
}
.range::-webkit-slider-runnable-track {
 background-color: rgb(0, 0, 0);
 height: 20px;
 border-radius: 10px;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 100%;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}
.music {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(78, 77, 99);
  border: 2px solid rgb(78, 77, 99);
  cursor: pointer;
  transition: 0,5s;
  margin-bottom: -5px;
}
.music:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
}
