body {
    background-image: url(../images/33.jpg);
    background-size: cover;
}
.main-title {
    display: flex;
    transition: 0.5s;
    color: white;
    font-size: 150px;
    margin-left: 32%;
    margin-top: 13%;
}
