body {
    background-image: url(../images/33.jpg);
    background-size: cover;
}
.main-title {
    display: flex;
    transition: 0.5s;
    color: white;
    font-size: 80px;
    padding: 20px;
    letter-spacing: 20px;
}
