.qualific-item {
    display: flex;
    background-color: white;
    width: 250px;
    height:400px;
    border-radius: 10%;
}
.image {
    display: flex;
    width: 100px;
    height:100px;
    border-radius: 25%;
}
.name-of-game {
    display: flex;
    font-size:30px;
    margin-top:120px;
    margin-left: ;
}
.text {
    width: 20px;
}
.button {
    background-color: rgb(148, 149, 150);
    border-radius: 25%;
    width: 100px;
    height: 40px;
    margin:70px;
}